{% extends "../base.html" %}
{% block div %}
<div id="content" style="height:100% !important;">
<form action='/addhost' method="post">
<table>
        <tr>
                <td colspan=2><h1><b>添加服务器</b></h1></td>
        </tr>
        <tr>
                <td><label>内网地址</label></td>
                <td><textarea name="server_ip" rows="2" cols="20"></textarea><span class="zhushi">*此项为比填项</span></td>
        </tr>
        <tr>
                <td><label>外网地址</label></td>
                <td><textarea name="public_ip" rows="2" cols="20"></textarea></td>
        </tr>
        <tr>
                <td><label>机房</label></td>
                <td><select name='idc_name'>
                    {% for idc in select_data["idc"].keys() %}
                    <option value={{idc}}>{{select_data["idc"][idc]}}</option>
                    {% end %}
                </select>
                </td>
        </tr>
        <tr>
                <td><label>内存</label></td>
                <td><input type="text" name="mem_size" /></td>
        </tr>
        <tr>
                <td><label>硬盘</label></td>
                <td><input type="text" name="disk_size" /></td>
        </tr>
        <tr>
                <td><label>cpu</label></td>
                <td><input type="text" name="cpu_num" /></td>
        </tr>
        <tr>
                <td><label>机架</label></td>
                <td><input type="text" name="server_rack" /></td>
        </tr>
        <tr>
                <td><label>SN号</label></td>
                <td><input type="text" name="sn" /></td>
        </tr>
        <tr>
                <td><label>机型</label></td>
                <td><input type="text" name="server_type" /></td>
        </tr>
        <tr>
                <td><label>操作系统</label></td>
                <td><input type="text" name="os" /></td>
        </tr>
        <tr>
                <td><label>项目</label></td>
                <td><select name='project_name'>
                    {% for project in select_data["project"].keys() %}
                    <option value={{project}}>{{select_data["project"][project]}}</option>
                    {% end %}
                </select>
                </td>
        </tr>
        <tr>
                <td><label>状态</label></td>
                <td>
                <select name='server_select_status'>
                    {% for status in select_data_status %}
                    <option value={{status}}>{{status}}</option>
                    {% end %}
                </select>
                <input type="text" name="server_status" />
                </td>
        </tr>
        <tr>
                <td><label>负责人</label></td>
                <td><select name='server_contact'>
                    {% for contact in select_data["contact"].keys() %}
                    <option value={{contact}}>{{select_data["contact"][contact]}}</option>
                    {% end %}
                </select>
                </td>
        </tr>
        <tr>
                <td style="vertical-align: middle"><label>备注</label></td>
                <td><textarea name="comment" rows="2" cols="20"></textarea></td>
        </tr>
        <tr>
                <td colspan=2 class='c'><input type="submit"  style="width:60px;" class='button' name="add_host" value="添 加" /></td>
        </tr>
</table>
</form>
</div>
{% end %}