$def with (city)
<div id="content">
<form action='' method="post">
<table>
	<tr>
		<td colspan=2><h1>添加IDC节点</h1></td>
	</tr>
	<tr>
		<td><label>IDC</label></td>
		<td><input type="text" name="idcname" /></td>
	</tr>
	<tr>
		<td><label>所在城市</label></td>
		<td>
			<select name="city">
			$for c in city:
				<option value='$c.cid'>$c.city</option>
			</select>
		</td>
	</tr>
	<tr>
		<td><label>联系方式</label></td>
		<td><input type="text" name="contact" /></td>
	</tr>
	<tr>
		<td><label>合作时间</label></td>
		<td><input onfocus="WdatePicker({dateFmt:'yyyyMMdd'})" type="text" name="hztime" /></td>
	</tr>
	<tr>
		<td style="vertical-align: middle"><label>备<span style="color:#ffffff;">☺ </span>注</label></td>
		<td><textarea name='other'></textarea></td>
	</tr>
	<tr>
		<td colspan=2 class='c'><input style="width:60px"  class='button' type="submit" name="add_idc" value="添 加" /> </td>
	</tr>

</table>
</form>
<div>

