$def with (city_idc_list,city)

<div id="content">
<form action='' method="post">
<table style="width:60% !important; text-align:center">
	<tr>
		<th colspan=6 align=center><h1>$city 所属IDC概况</h1></th>
	</tr>
	<tr>
		<th width="70%">IDC列表</th>
		<th>服务器数量</th>
	</tr>
$for c in city_idc_list:
	<tr>
		<td align=left style="padding-left:20px"><a href="/midc?action=vi&iid=$c['iid']">$c['idcname']</a></td>
		<td><a href="/cihl?cid=$c['cid']&iid=$c['iid']&hc=$c['hostcount']">$c['hostcount']</a></td>
	</tr>

</table>
</form>
<div>
