$def with (city_host_count)

<div id="content" class='center'>
<form action='' method="post">
<table>
	<tr>
		<th colspan=4 align=center><h1>城市分布概况</h1></th>
	</tr>
	<tr>
		<th>城 市</th>
		<th>节点数</th>
		<th>服务器数量</th>
		<th><a href='/addcity'><img src='static/images/icon_add.gif'> [新城市]</a></th>
	</tr>
$for c in city_host_count:
	<tr>
		<span style="display:none"><input type='text' name='cid' value="$c[0]" /></span>
		<td><a href='/mcity?action=vc&cid=$c[0]'>$c[1]</a></td>
		<td><a href="/cil?city=$c[0]">$c[2]</a></td>
		<td><a href='/citylisthost?city=$c[0]&hc=$c[3]'>$c[3]</a></td>
		<td><a href='/mcity?action=mc&cid=$c[0]'><img src='static/images/modify.png' alt='修改' title='修改' /></a> <a onClick="return confirm('注意：确定要删除此条目吗？')" href='/mcity?action=dc&cid=$c[0]'><img src='static/images/remove.png' alt='删除' title='删除' /></a></td>
	</tr>

</table>
</form>
<div>
