$def with (history)
<div id="content">
<form action='' method="post">
<table style="width:80% !important; text-align:center" id='senfe'>
	<tr>
		<th colspan=5 align=center><h1>删除记录</h1></th>
	</tr>
	<tr>
		<th width="6%">ID</th>
		<th>信息摘要</th>
		<th width="12%">删除人</th>
		<th width="25%">删除时间</th>
		<th>操作</th>
	</tr>
$for h in history:
	<tr>
		<td style="vertical-align: middle;text-align:center">$h.hid</td>
		<td style="text-align:left; font-size:12px;line-height:14px;vertical-align: middle;padding:5px 5px;">$:h.description</td>
		<td style="vertical-align: middle;text-align:center">$h.delman</td>
		<td style="vertical-align: middle;text-align:center">$h.deltime</td>
		<td style="vertical-align: middle;text-align:center">
			<a onClick="return confirm('注意：确定要恢复此条目吗？')" href='/history?action=rh&hid=$h.hid'><img src='static/images/restore.png' width=20px height=18px  alt='恢复' title='恢复' /></a>
			<a onClick="return confirm('注意：确定要删除此条目吗？')" href='/history?action=dh&hid=$h.hid'><img src='static/images/remove.png' alt='删除' title='删除' /></a>
		</td>
	</tr>

</table>
</form>
<div>
<script language="javascript">
<!--
senfe("senfe","#fff","#F5F5F5","#FFFFCC","#FFFF84");
-->
</script>
