$def with (idc_info_list)

<div id="content">
<form action='' method="post">
<table style="width:80% !important; text-align:center">
	<tr>
		<th colspan=6 align=center><h1>IDC分布概况</h1></th>
	</tr>
	<tr>
		<th width="30%">IDC</th>
		<th width="15%">所在城市</th>
		<th width="12%">服务器数量</th>
		<th>合作时间</th>
		<th>联系方式</th>
		<th width="16%"><a href='/addidc'><img src='static/images/icon_add.gif'> [新IDC]</a></th>
	</tr>
$for i in idc_info_list:
	<tr>
		<td align=left style="padding-left:20px"><a href='/midc?action=vi&iid=$i[0]'>$i[2]</a></td>
		<td>$i[1]</td>
		<td><a href="/idclisthost?idc=$i[0]&hc=$i[3]">$i[3]</a></td>
		<td>$i[4]</td>
		<td>$i[5]</td>
		<td><a href='/midc?action=mi&iid=$i[0]'><img src='static/images/modify.png' alt='修改' title='修改' /></a> <a onClick="return confirm('注意：确定要删除此条目吗？')" href='/midc?action=di&iid=$i[0]'><img src='static/images/remove.png' alt='删除' title='删除' /></a></td>
	</tr>

</table>
</form>
<div>
