$def with (hosts,pages,page,page_nav)
<div id="main">
<table id='senfe'>
	<tr>
		<th width='10%'>主机标识</th>
		<th width='6%'>城市</th>
		<th width='10%'>地址一</th>
		<th width='5%'>端口</th>
		<th width='10%'>项目</th>
		<th width='5%'>内存</th>
		<th width='8%'>带宽</th>
		<th width='10%'>操作系统</th>
		<th width='15%'>用途</th>
		<th width='6%'>状态</th>
		<th>IDC</th>
		<th width='5%'>操作</th>
	</tr>
$var i: 0
$for h in hosts:
	$var i: ${int(self.i) + 1}
	<tr class="
	$if int(self.i) % 2:
		tr-row
	">
		<td><a href='/mhosts?action=vh&hid=$h.hid'>$h.hostname</a></td>
		<td>$h.city</td>
		<td>$h.addr1_ip</td>
		<td>$h.port</td>
		<td>$h.project</td>
		<td>$h.memory GB</td>
		<td>$h.bandwidth</td>
		<td>$h.os</td>
		<td>$h.uses</td>
		<td>
			$h.status
		</td>
		<td>$h.idc</td>
		<td><a href='/mhosts?action=mh&hid=$h.hid'><img src='static/images/modify.png' alt='修改' title='修改' /></a> <a onClick="return confirm('注意：确定要删除此条目吗？')" href='/mhosts?action=dh&hid=$h.hid'><img src='static/images/remove.png' alt='删除' title='删除' /></a></td>
	</tr>
</table>
<hr />

<div id="page_nav">
$:page_nav &nbsp;<a href="/addhost" class="bold"><img src="static/images/icon_add.gif"> 添加新主机</a>
</div>
</div>
<script language="javascript">
<!--
senfe("senfe","#fff","#F5F5F5","#FFFFCC","#FFFF84");
-->
</script>
