$def with (project_idc_list,project)

<div id="content">
<form action='' method="post">
<table style="width:60% !important; text-align:center">
	<tr>
		<th colspan=6 align=center><h1>$project 所属IDC概况</h1></th>
	</tr>
	<tr>
		<th width="70%">IDC</th>
		<th >服务器数量</th>
	</tr>
$for i in project_idc_list:
	<tr>
		<td align=left style="padding-left:20px"><a href="/midc?action=vi&iid=$i['iid']">$i['idcname']</a></td>
		<td><a href="/pihl?pid=$i['pid']&iid=$i['iid']&hc=$i['hostcount']">$i['hostcount']</a></td>
	</tr>

</table>
</form>
<div>
