<div id='content'>

<form action='' method="post">
<table>
	<tr>
		<td colspan=2><h1><b>添加用户<b></h1></td>
	</tr>
	<tr>
		<td>
			<label>用户类型</label>
		</td>
		<td>
			<select name="privilege">
				<option value='0'>浏览</option>
				<option value='1'>读写</option>
				<option value='2'>管理员</option>
			</select>
			<span class="zhushi"> *</span><br>
			<span style="font-size: 12px;line-height:14px;">浏览：仅阅读基本数据<br></span>
			<span style="font-size: 12px;line-height:14px;">读写：除添加/管理用户、导出数据之外的所有权限<br></span>
			<span style="font-size: 12px;line-height:14px;">管理员：全部权限<br></span>
		</td>
	</tr>

	<tr>
		<td><label>用 户 名</label></td>
		<td><input type="text" name="username" /><span class='zhushi'> * 支持中文</span></td>
	</tr>
	<tr>
		<td><label>密<span style="color:white;">☺ </span>码</label></td>
		<td><input type="password" name="password" /><span class="zhushi"> *</span></td>
	</tr>
	<tr>
		<td><label>确认密码</label></td>
		<td><input type="password" name="password2" /> <span class="zhushi"> *</span></td>
	</tr>
	<tr>
		<td><label>联系电话</label></td>
		<td><input type="text" name="phone" /></td>
	</tr>
	<tr>
		<td><label>电子邮件</label></td>
		<td><input type="text" name="email" /></td>
	</tr>
	<tr>
		<td style="vertical-align: middle" ><label>备<span style="color:white;">☺ </span>注</label></td>
		<td><textarea name="other"></textarea></td>
	</tr>
	<tr>
		<td colspan=2 class='c'><input class='button' type="submit" name="register"  class="button" value="添 加"  style="width:60px;"/></td>
	</tr>
</table>
</form>
</div>
