$def with (user_info_list)

<div id="content">
<form action='' method="post">
<table style="width:90% !important; text-align:center">
	<tr>
		<th colspan=7 align=center><h1>系统用户</h1></th>
	</tr>
	<tr>
		<th width="12%">用户名</th>
		<th width="10%">权限</th>
		<th width="12%">联系电话</th>
		<th>电子邮件</th>
		<th width="20%">最后登录时间</th>
		<th width="l8%">最后登录IP</th>
		<th><a href='/register'><img src='static/images/icon_add.gif'> [新用户]</a></td>
	</tr>
$for i in user_info_list:
	<tr>
		<td><a href="/muser?action=vu&uid=$i['uid']">$i['username']</a></td>
		<td>
		$if i['privilege'] == 1:
			读写
		$elif i['privilege'] == 2:
			管理员
		$else:
			浏览
		</td>
		<td align=left><span>$i['phone']</span></td>
		<td align=left><span>$i['email']</span></td>
		<td>$i['lastlogin']</td>
		<td align=left><span>$i['loginip']</span></td>
		<td>
			<a href="/muser?action=mu&uid=$i['uid']"><img src='static/images/modify.png' alt='修改' title='修改' /></a>
			<a href="/muser?action=du&uid=$i['uid']" onClick="return confirm('注意：确定要删除此条目吗？')"><img src='static/images/remove.png' alt='删除' title='删除' /></a>
		</td>
	
	</tr>
</table>
</form>
<div>
