$def with (user_info_list)

<div id="content">
<form action='' method="post">
<table style="width:80% !important; text-align:center">
	<tr>
		<th colspan=6 align=center><h1>系统用户</h1></th>
	</tr>
	<tr>
		<th width="10%">用户名</th>
		<th width="10%">权限</th>
		<th width="12%">联系电话</th>
		<th width="20%">电子邮件</th>
		<th width="25%">最后登录时间</th>
		<th>最后登录IP</th>
	</tr>
$for i in user_info_list:
	<tr>
		<td><a href="/muser?action=vu&uid=$i['uid']">$i['username']</a></td>
		<td>
		$if i['privilege'] == 1:
			读写
		$elif i['privilege'] == 2:
			管理员
		$else:
			浏览
		</td>
		<td align=left><span>$i['phone']</span></td>
		<td align=left><span>$i['email']</span></td>
		<td>$i['lastlogin']</td>
		<td align=left><span>$i['loginip']</span></td>
	
	</tr>

</table>
</form>
<div>
