$def with(city,project,idc,status,host)
<form>
<div id="content" style="">
<table>
	<tr>
		<td colspan=2><h1><b>主机详细信息</b></h1></td>
	</tr>
	<tr>
		<td><label>主机标识</label></td>
		<td><input type="text" name="hostname" value="$host.hostname" readonly=true /></td>
	</tr>
	<tr>
		<td><label>城<span style="color:#ffffff;">☺ </span>市<label></td>
		<td><select name='city'>
		$for c in city
			$if host.city == c.cid:
				<option value='$c.cid' selected="select">$c.city</option>
			$else:
				<option value='$c.cid'>$c.city</option>
		</select>
		</td>
	</tr>

	<tr>
		<td><label>项<span style="color:#ffffff;">☺ </span>目</label></td>
		<td><select name='project'>
		$for p in project:
			$if host.project == p.pid:
				<option value='$p.pid' selected="select">$p.project</option>
			$else:
				<option value='$p.pid'>$p.project</option>
		</select>
		</td>
	</tr>
	<tr>
		<td><label>I D C <label></td>
		<td><select name='idc'>
		$for i in idc:
			$if host.idc == i.iid:
				<option value='$i.iid' selected="select">$i.idcname</option>
			$else:
				<option value='$i.iid'>$i.idcname</option>
		</select>
		</td>
	</tr>

	
	<tr>
		<td colspan=2>
			<table>
				<tr>
					<th width=12%>编号</th>
					<th>IP地址</th>
					<th>掩码</th>
					<th>网关</th>
					<th width=15%>线路</th>
				</tr>
				<tr>
					<td align=center>地址一</td>
					<td><input type="text" name='addr1_ip' value="$host.addr1_ip" readonly=true ></td>
					<td><input type="text" name='addr1_netmask' value="$host.addr1_netmask" readonly=true ></td>
					<td><input type="text" name='addr1_gateway' value="$host.addr1_gateway" readonly=true ></td>
					<td align=center><input class='short' type="text" name='addr1_line' value="$host.addr1_line" readonly=true /></td>
				</tr>
				<tr>
					<td align=center>地址二</td>
					<td><input type="text" name='addr2_ip' value="$host.addr2_ip" readonly=true ></td>
					<td><input type="text" name='addr2_netmask' value="$host.addr2_netmask" readonly=true ></td>
					<td><input type="text" name='addr2_gateway' value="$host.addr2_gateway" readonly=true ></td>
					<td align=center><input class='short' type="text" name='addr2_line' value="$host.addr2_line" readonly=true /></td>
				</tr>
				<tr>
					<td align=center>地址三</td>
					<td><input type="text" name='addr3_ip' value="$host.addr3_ip" readonly=true ></td>
					<td><input type="text" name='addr3_netmask' value="$host.addr3_netmask" readonly=true ></td>
					<td><input type="text" name='addr3_gateway' value="$host.addr3_gateway" readonly=true ></td>
					<td align=center><input class='short' type="text" name='addr3_line' value="$host.addr3_line" readonly=true /></td>
				</tr>

			</table>
		</td>
	</tr>
	
	<tr>
		<td><label>登录端口</label></td>
		<td><input type="text" name="port" value="$host.port" readonly=true /></td>
	</tr>
	<tr>
		<td><label>所属公司</label></td><td><input type="text" name="company" value="$host.company" readonly=true /></td>
	</tr>
	<tr>
		<td><label>带<span style="color:#ffffff;">☺ </span>宽</label></td><td><input type="text" name="bandwidth" value="$host.bandwidth" readonly=true /></td>
	</tr>
		<tr><td><label>用<span style="color:#ffffff;">☺ </span>途</label></td><td><input type="text" name="uses" value="$host.uses" readonly=true /></td></tr>
	<tr>
		<td><label>状<span style="color:#ffffff;">☺ </span>态</label></td>
		<td>
		<select name='status'>
			
		$for s in status:
			$if host.status == s.sid:
				<option value='$s.sid' selected="select">$s.status</option>
			$else:
				<option value='$s.sid'>$s.status</option>
		</select>
		</td>
	</tr>
		<tr><td><label>操作系统</label></td><td><input type="text" name="os" value="$host.os" readonly=true /></td></tr>

		<tr><td><label>内<span style="color:#ffffff;">☺ </span>存</label></td><td><input type="text" name="memory" value="$host.memory" readonly=true /> GB</td></tr>
		<tr><td><label>C P U</label></td><td><input type="text" name="cpu" value="$host.cpu" readonly=true /> 核心</td></tr>
		<tr><td><label>磁<span style="color:#ffffff;">☺ </span>盘</label></td><td><input type="text" name="disk" value="$host.disk" readonly=true /> GB</td></tr>
		<tr><td><label>购买时间</label></td><td><input type="text" name="buytime" value="$host.buytime" readonly=true /></td></tr>
		<tr><td><label>质保时间</label></td><td><input type="text" name="servicetime" value="$host.servicetime" readonly=true /></td></tr>
		<tr>
			<td style="vertical-align: middle"><label>硬件详细信息</label></td>
			<td><textarea name="hardwareinfo" readonly=true >$host.hardwareinfo</textarea></td>
		</tr>
		<tr><td><label>备<span style="color:#ffffff;">☺ </span>注</label></td><td><input type="text" name="other" value="$host.other" readonly=true /></td></tr>
		<tr><td><label>最后更新</label></td><td> &nbsp;$host.modifyman | $host.modifytime</td></tr>
		<div style="display:none"><input type="text" name='hid' value='$host.hid' /></div>
</table>
</div>
</form>

