$def with (user_info)
<div id='content'>

<form>
<table>
	<tr>
		<td colspan=2><h1><b>用户信息</b></h1></td>
	</tr>
	<tr>
		<td>
			<label>用户类型</label>
		</td>
		<td>&nbsp;
			$if user_info['privilege'] == 1:
				超级用户
			$elif user_info['privilege'] == 2:
				管理员
			$else:
				访客
		</td>
	</tr>

	<tr>
		<td><label>用 户 名</label></td>
		<td><input type="text" name="username" value="$user_info['username']" readonly=true/></td>
	</tr>
	<tr>
	<tr>
		<td><label>联系电话</label></td>
		<td><input type="text" name="phone" value="$user_info['phone']" readonly=true /></td>
	</tr>
	<tr>
		<td><label>电子邮件</label></td>
		<td><input type="text" name="email" value="$user_info['email']" readonly=true /></td>
	</tr>
	<tr>
		<td style="vertical-align: middle" ><label>备<span style="color:white;">☺ </span>注</label></td>
		<td><textarea name="other" readonly=true >$user_info['other']</textarea></td>
	</tr>
</table>
</form>
</div>
